# Change this to your local user id and local groupd id 
UserID=
GroupID=
# Change this to your user on SDF
SDFID=
# Change this to your home path on SDF
RemotePath=
LocalPath=
# Change this to the server you connect on  SDF
Server=
# Change this to the server your connect on port 443 on SDF
Server443=
# Change this to all sleep use on this script
Sleep=1
